.sidebar-card {
  border-radius: 16px;
}

.policy-card {
  border-radius: 20px;
}

.avatar {
  width: 70px;
  height: 70px;
  background: #e9ecef;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 22px;
}

.icon-box {
  width: 70px;
  height: 70px;
  background: #f1f3f5;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.active-link {
  border-left: 4px solid #f26d21;
  color: #f26d21 !important;
  background: #fff5ee;
}
