
.top-nav{

}

.top-nav-right{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 30px;
    gap: 50px;
}
.top-nav-right a{
    color: #000000;
    text-decoration: none;
}
.contact a{
    color: #063b6d;
    font-weight: 700;
}
.live-chat{
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.live-chat span{
    margin-right: 10px;
    background: #00a651;
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 50%;
}
.nav{
    padding-top: 10px;
    padding-bottom: 10px;
    /* background:url('../images/il-logo.png')no-repeat; */
}
.nav img{
    padding-right: 200px;
}
.nav a{
    text-decoration: none;
    color: #111;
}
.dropdown-menu a{
    color: #000000;
}
.fullscreen{
      position: fixed;
      top: 40px;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 1050;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 4rem;
      overflow-y: auto;
}
.navbar-toggler{
    text-align: start;
    width: 100%;
    background:url('../../../public/Home/images/main-nav-bg.jpg') repeat-x rgb(193, 57, 17);

}
.navbar-toggler-icon{
    color: #fff;
}
.navbar-toggler img{
    padding-left: 20%;
}

nav{
    background: linear-gradient(to bottom, #f58220 -18%, #b02a30 127%);
}
nav a:link{
    color: #fff;
}
nav a:active{
    color: #fff;
}


/* Header Banner */
.head{
    height: 250px;
    width: 100%;
    background-image: url("../../../public/Home/images/main-banner-bg.jpg");
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.head h1 {
    position: absolute;
    top: 180px;
    color: #E3530F;
    margin-left: 8%;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
}
.head b{
    margin-left: 8%;
    font-weight: 700;
    
}
.head img{
    height: 100%;
    width: auto;
    margin-right: 10em;

}
/* Form Section */
.home-forms-section{
    height: 285px;
    width: 62%;
    position: absolute;
    top: 40%;
    left: 8%;
    background-color: #fff;
    border-radius: 20px;
}
.form-ele{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    position: absolute;
    top: -15%;
}
.items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.items div{
    height: 66px;
    width: 72px;
    background-color: #f5f5f5;
    margin: 20px;
    padding: 5px;
    border-radius: 30%;
    position: relative;
}
.items div img{
    height: 60%;
    width: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
}
.items span{

}
/* Home form section  */
.home-forms{
    height: 100px;
    width: 100%;
    position: relative;
    top: 5%;
}
.form-1{
    height: 100%;
}
.form-group{
    display: inline-block;
    height: 100%;
    width: 20%;
    margin-left: 3%;
}
label{
    font-size: small;

}
input[type="text"],
input[type="tel"],
input[type="email"]{
    background: none;
    border: none;
    border-bottom: 1px solid #cccccc;
    margin-top: 1%;
}
input:focus{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #cccccc;
}
input[type="submit"]{
    height: 3em;
    width: 7em;
    margin-left: 50%;
    border: none;
    border-radius: 30px;
    background-color: #ec6608;
    color: #fff;
}
.form-group a{
    color: #ec6608;
    margin-top: 20px;
    margin-left: 50%;

}


/* section-2 */
.section-2{
    height: 500px;
    background-color: #f5f5f5;
}

/* Aside Section */
.aside{
    height: 285px;
    width: 20%;
    border: 1px solid black;
    position: absolute;
    right: 8%;
    top: 40%;
    border-radius: 20px;
}
.carousel-item img{
    border-radius: 20px;
}
 .eg .carousel-indicators {
    position: absolute;
    top: 320px;

}
.carousel-indicators [data-bs-target]{
    height: 8px;
    width: 30px;
    border-radius: 50% ;
    background-color: #9b9b9b;
}
.eg .carousel-indicators .active {
    height: 10px;
    width: 50%;
    background-color: #ec6608;
}

/* section 2 */
.section-2{

}
.part1{
    width: 80%;
    position: relative;
    top: 50%;
    margin-left: 10%;
}
input[type="checkbox"]{
    height: 15px;
    width: 15px;
    background-color: #fe6625;
}

/* part 2 */
.part2{

}
.part2 ul{
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 5%;
}
.part2 ul li{
    display: inline-block;
    padding-left: 3em;
}
.part2 h3,a{
    font-family: Muli,Roboto,sans-serif;
    text-decoration: none;
    color: #ec6608;
}
.part2 p,span{
    color: #6c6c6c;
}
.part2 span{
    font-size: small;
}

/* section 3 */
.section-3{

}
.section-3 h3{
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
}

.block1{
    height: 40%;
    width: 100%;
    margin-top: 180px;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    display: flex;
}
.block1 div{
    height: 100px;
    width: 55%;
    padding-left: 100px;
}
.block1 h1{
    font-family: sans-serif;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 50px;
}
.block1 p{
    margin-top: 30px;
    font-family: sans-serif;
    padding-left: 50px;
    padding-right: 150px;
}
.block1 img{
    /* margin-left: 50px;
    padding-left: 50px; */
}
.block1 span{
    margin-left: 215px;
}

/* section 4 */
.section-4{
    background: linear-gradient(316deg, #F58820 0%, #B02A30 100%);;
}
.section-4 h2{
    text-align: center;
    padding-top: 80px;
    color: #fff;
}
.container{
    display: flex;
}
.block{
    height: 280px;
    width: 25%;
    border-radius: 25px;
    margin: 15px;
    margin-bottom: 150px;
    background-color: #fff;
    position: relative;
}
.block p{
    display: inline-block;
    color: #111;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: 700;
}
.block-img{
    height: 70px;
    width: 130px;
    position: absolute;
    top: 4px;
    right: 0px;
    border-radius: 25px;
    background-image: url("images/bg-pink.png");
}
.block-img img{
    padding-right: 20px;
    position: absolute;
    top: 30px;
    right: 10px;
}
.block ul li{
    padding-top: 0px;
    white-space: 1px;
}  
.block a{
    position: absolute;
    bottom: 10px;
    padding-left: 15px;
}

/* section 5 */
.section-5 .container{
    width: 100%;
    margin-top: 100px;
    background-color: #FFF2ED;
    border-radius: 25px;
}

.left-block{
    padding-top: 30px;
    width: 60%;
}
.left-block h2{
    font-weight: 700;
    padding-top: 10px;
    padding-left: 40px;
}
.left-block p{
    padding-top: 10px;
    padding-left: 40px;
}
.left-block-title{
    font-size: larger;
    font-weight: 700;
}
.left-block ul li{
    display: inline-flex;
    width: 30%;
    border-right: 1px solid #9b9b9b;
}
.left-block ul li span{
    font-weight: 500;
    color: #111;
}
.left-block span{
    padding-left: 40px;
    color: #111;
    font-weight: 500;    
}
.left-block a{
    display: flex;
    height: 50px;
    width: 20%;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    background-color: #ec6608;
    color: #fff;
}
.download-block{
    margin-top: 40px;
    padding-left: 40px;
    position: relative;
}
.download-block h4{
    font-size: large;
    font-weight: 700;
    margin-bottom: 40px;
}
.download-block img{
    vertical-align: top;
    
}
.app-block{
    display: inline-block;
    padding-left: 40px;
}
.app-block img{
    padding-bottom: 20px;
}

/* section-6 */
.section-6{
    height: 570px;
    width: 100%;
    margin-top: 200px;
    background-color: #f8f6e4;
    padding-left: 25%;
}
.section-6-title{
    height: 100px;
    width: 65%;
    padding-top: 40px;
    text-align: center;

}
.section-6 h2{
    font-weight: 400;
}
.section-6 iframe{
    position:absolute;
    height: 30rem;
    width: 50%;
    margin-top: 65px;
    border-radius: 25px;
}
/* section 7 */
.section-7 {
    background-color: #f8f6f6;
    padding: 60px 40px;
    margin-top: 115px;
}

.pmfby-logo img {
    max-width: 150px;
}

.pmfby-block {
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.fraud-section {
    padding-top: 20px;
}

.fraud-block h2 {
    margin-top: 20px;
}
.fraud-button{
    height: 20px;
    width: 50px;
    position: absolute;
    top: 250px;
    left: 300px;
}
.fraud-button [type="button"]{
    background-color: #ec6608;

}
.fraud-block-content a {
    text-decoration: none;
}
/* Section 8 */
.section-8{
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 100px;
}
.section-8 h2{
    padding-left: 120px;
    padding-bottom: 50px;
}
.review-block{
    height: 300px;
    width: 70%;
    margin: 0 auto;
    border: 1px solid #cccccc;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 10px;
    position: relative;
    font-weight: 400;
}
.review-block-button{
    height: 20px;
    width: 50px;
    position: absolute;
    top: 250px;
    left: 200px;
}
.review-block-button [type="button"]{
    background-color: #ec6608;
}
.awards-block-1{
    display: flex;
    padding-right: 15px;
    margin-bottom: 20px;
    border: 1px solid #cccc;
    border-radius: 25px;
}
.awards-block-1 img{
    border-radius: 25px 0px 0px 25px;

}
.awards-block-1 h6,p{
    margin-left: 10px;
    padding-right: 30px;
    padding-top: 10px;
}
.more-awards{
    text-align: right;
}
/* footer */
.footer{
    width: 100%;
    background-color: #EEEEE2;
    display: flex;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}
.f-block{
    padding-top: 20px;
    width: 30%;
    
}
.f-block ul li{
    display: block;
}
.f-block h4{
    color: #053c6d;
    font-size: 18px;
}
.f-block a{
    color: #4d4d4f;
    text-decoration: none;
}
.f-block a:hover{
    border-bottom: 2px solid black;
}
.social-icon{
    display: flex;
}
.social-icon li{
    display: block;
    padding: 5px;
}
.footer2{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}
.footer2 ul li{
    display: inline-block;
    font-weight: 600;
    border-right: 1px solid #97291e;
    padding-left: 5px;
    padding-right: 5px;
}

.popup-form{
    position: absolute;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
}

.tabContentBox {
    /* padding: 4.2rem 2rem 2rem !important; */
}

.allProductsTabWrap .ui-form-block .input-block {
    margin-bottom: 0rem;
    max-width: 93%;
}

.health-insure-member {
    user-select: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    color: #969494;
    padding: 0.8rem 3rem 0.8rem 0;
    font-size: medium;
    background: transparent;
    border-radius: 0rem;
    text-decoration: none;
    width: 100%;
    border-width: 0;
    text-align: left;
}



.member-detail-popup {
    width: 530px;
    padding: 20px 25px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 8px 1px rgba(0, 0, 0, 0.15);
    border: solid 1px #cbcdce;
    background-color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: 100px;
    z-index: 999;
}
.member-detail-popup h2 {
    font-size: 15px;
    font-weight: 600;
    color: #004a80;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

.travel-city-selection {
    display: flex;
    flex-direction: row;
}
.travel-city-selection .radio {
    width: 100px;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}
.travel-city-selection .radio input[type="radio"] {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}
.travel-city-selection .radio label {
    width: 100px;
    height: 90px;
    background-color: #ffffff;
    border: solid 1px #eaeaea;
    border-radius: 10px;
    box-shadow: 0 2px 7px 0 rgba(208, 208, 208, 0.29);
    cursor: pointer;
    position: initial;
}
.travel-city-selection .radio span {
    font-size: 12px;
    font-weight: 600;
    color: #282828;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.trip-or-section {
    position: relative;
    height: 40px;
    margin-left: -25px;
    margin-right: -25px;
}

.trip-or-text {
    font-size: 13px;
    font-weight: 600;
    color: #282828;
    margin: auto;
    width: 40px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.select-countries-link, .select-countries-link:hover {
    display: block;
    font-size: 15px;
    color: #282828;
    text-decoration: none;
    border-radius: 10px;
    border: solid 1px #cbcdce;
    background-color: #ffffff;
    padding: 16px;
    text-align: center;
}
.travel-city-selection .radio label img {
    cursor: pointer;
    display: flex;
    margin-top: 10px;
    margin-left: 20px;

}


.il-popup.light {
    max-width: 475px;
    width: 100%;
    opacity: 1;
}
.il-popup {
    margin: 7.5rem auto;
    border-radius: 2rem;
    position: absolute;
    left: 40%;
    z-index: 999;
    background: #ffffff;
    opacity: 0;
    transition: all 0.5s 
ease-in-out;
    text-align: center;
    overflow: hidden;
    padding: 4rem 3rem;
}


.il-overlayN.active {
    visibility: visible;
    opacity: 1;
    overflow: auto;
    z-index: 100000;
    height: 100%;
    width: 100%;
}

.il-overlayN {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 0.2s;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}

#il-login-otp .close {
    cursor: pointer;
    opacity: 1;
}

.il-content {
    width: 100%;
}

.il-login-mobile {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.login-otp-wrap h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #282828;
    margin: 0;
}

.login-otp-wrap p {
    padding: 1rem 0 2rem;
}

.login-otp-wrap .il-input-block label {
    cursor: auto;
    display: inline-flex;
    font-size: 1.6rem;
    color: #d1d1d1;
    font-weight: 400;
    position: absolute;
    top: 25%;
    left: 70px;
    transition: 0.3s 
ease;
    color: #838383;
    background: #fff;
}


.login-otp-wrap .il-input-block input {
    cursor: auto;
    border: none;
    color: #282828;
    border-bottom: 1px solid #d1d1d1;
    outline: 0;
    background: 0 0;
    width: 100%;
    padding: 1.7rem;
    border-radius: 5px;
    border: solid 1px #c9c9c9;
    background-color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

.il-btn {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
}

.login-otp-wrap a.il-btn-primary {
    background: #ec6625;
    width: 100%;
    display: block;
    text-align: center;
    padding: 1.5rem 0;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
}


.login-otp-wrap .create-account-link, .login-otp-wrap .login-mobile-link {
    margin-top: 3rem;
}


.login-otp-wrap .il-link {
    font-weight: 700;
    font-size: 1.4rem;
    color: #ec6625;
    text-decoration: underline;
}
